.main--search {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.search-bar-column {
    flex: 1;
    min-width: 300px; /* Adjust as needed */
}

.search-bar-results {
    flex: 2;
    min-width: 300px; 
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

}


.sui-layout-header {
    background-color: #0078d7;
    color: #eee;
}
.sui-search-box__submit {
    background: linear-gradient(rgb(60, 226, 102), rgb(34, 151, 57));
    letter-spacing: 0.1em;
}
.sui-search-box__submit:hover {
    background: linear-gradient(rgb(34, 151, 57), rgb(60, 226, 102));
}

.pager-style {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

/* Adjust the width of the search-bar to make it shorter */
.search-bar-column-container {

  width: 100%; /* Adjusted width to make it shorter */
  margin: 0 auto; /* Center the search bar */
  margin-top: 10px;
}
.search-results-container {
    flex: 0 0 100%; /* Takes up 75% of the row */
    max-width: 100%; 
}